@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.wrapper {
    min-height: 100vh;
    background-color: var(--dark-color);
  }

.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 1;
}

.logo {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
 }

.logo p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.logo p span {
         color: var(--yellow-color);
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: calc(33.33% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f9f9f9;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 14px;
  margin: 5px 0;
}

.movie-card a {
  text-decoration: none;
  color: blue;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #0056b3;
}
